<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy Policy</key>
	<string>https://adamkali.com/privacy-policy/</string>
	<key>NSIdentityUsageDescription</key>
	<string>In Short: We process your information to provide, improve, and administer our Services, communicate with you, for security and fraud prevention, and to comply with law. We may also process your information for other purposes with your consent. To find more specific information on what information we collect, and how we use it, please see our privacy policy.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera needed to take a profile picture</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
