<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSIdentityUsageDescription</key>
	<string>The app uses your e-mail address to deliver current and future features to you and other users. These include allowing you to track your job applications wherever you are, on any device. We will also use your job application information to provide insights into where you may be successful in applying.
We will never use your e-mail address to contact you without consent. In signing up it is used to verify your identity to prevent spam/bot accounts.
You are able to delete your account at any time, which will wipe any information we have that is linked to your identity.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera needed to take a profile picture</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
